.home-bg {
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('/images/bg/lambo-bg.jpg');
}

.get-started-button {
    background-color: #FF9724 !important;
}

.get-started-link {
    text-decoration: none;
    color: #e3e3e3;
}

.get-started-link:hover {
    color: #a9a9a9;
}

.what-we-do-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #e9e9e9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('/images/bg/mustang-bg.jpg');
}

.what-we-do-section>p {
    text-align: center;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.what-we-do-section>h2 {
    font-family: 'Exo', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

@media only screen and (min-width: 901px) {

    /* .what-we-do-section {
        height: 100%;
    } */
    .what-we-do-section>p {
        width: 75%;
    }
}