.learn-bg {
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('/images/bg/ferarri-bg.jpg');
}

.masonry {
    column-count: 1;
    column-gap: 1em;
}

.lesson-card-brick {
    /* Masonry bricks or child elements */
    background-color: #F8F8FF;
    display: inline-block;
    width: 100%;
    margin-right: 10px;
}

.lesson-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 10px !important; */
    border: 3px solid #e3e3e3;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.learn-content {
    padding-top: 20px;
    /* padding-left: 25px;
    padding-right: 25px; */
    background-color: #F8F8FF;
}

.learn-content>h2 {
    text-align: center;
}

.lesson-card>img {
    width: 45%;
    height: 50%;
    margin-left: 5px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 5px;
}

.lesson-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    width: 100%;
    /* margin-left: auto; */
}

.lesson-card-content>h3 {
    font-size: 1.1em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.lesson-card-content>p {
    text-align: center;
    font-size: 0.75em;
}

.lesson-card-content>p>em {
    font-size: 0.75em;
}

.lesson-card-content>p:first-of-type {
    padding-bottom: 2px;
    font-weight: bold;
    margin: 0;
}

.lesson-card-content>p:last-of-type {
    width: 85%;
    padding-bottom: 5px;
    margin: 0;
}

.go-to-class-button {
    background-color: #FF9724 !important;
}

.learn-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    /* top: 200vh; */
    background-color: #a9a9a9;
    color: #e9e9e9;
}

.learn-footer>p {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.go-to-class-link {
    text-decoration: none;
    color: #e3e3e3;
}

.go-to-class-link:hover {
    color: #a9a9a9;
}

@media only screen and (min-width: 901px) {
    .learn-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .masonry {
        column-count: 2 !important;
        padding-right: 25px;
        padding-left: 25px;
        width: 90%;
    }
}