.news-bg {
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('/images/bg/bentley-bg.jpg');
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    text-decoration: none;
    color: #a9a9a9;
}

.writer-content {
    width: 100%;
}

.news-content {
    display: flex;
    align-items: center;
    background-color: #F8F8FF;
}

.whats-news-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.news-subsection {
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.trending-news {
    padding-top: 20px;
}

.news-subsection>hr:first-of-type {
    margin-bottom: 5px;
    padding: 0;
    border: 2px solid #000000;
}

.news-subsection>hr {
    border: 1px solid #e3e3e3;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

.news-subsection>h3 {
    padding-top: 10px;
    font-weight: bold;
}

.latest-container {
    height: 100%;
}

.articles {
    padding-top: 20px;
}

.article {
    padding: 5px;
    margin-top: 15px;
}

.article>img {
    width: 100%;
}

.article-1-img-container {
    width: 100%;
}

.article-1-img-container>img {
    width: 100%;
}

.most-popular-news {}

.review {
    margin-top: 15px;
}

.review>img {
    width: 100%;
    padding: 5px;
}

.review>h2 {
    padding: 5px;
}

@media only screen and (min-width: 901px) {
    .news-section {
        padding-top: 20px;
    }

    .writer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .whats-news-section {
        flex-direction: row;
        justify-content: center;
    }

    .article-1 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .article-1 {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .article-1-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .article-1-img-container>img {
        width: 100%;
    }

    .article-1>a {
        width: 50%
    }

    .article-1-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .subarticle-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .subarticle {
        width: 33%;
    }

    .subarticle>img {
        padding: 5px;
    }

    .subarticle>a>h2 {
        font-size: 1.2em;
        padding: 5px;
    }

    .news-subsection {
        padding-top: 20px;
        height: 100%;
    }

    .trending-news {
        width: 20%;
    }

    .articles {
        width: 60%;
    }

    .most-popular-news {
        width: 20%;
    }

    .reviews-section {
        display: flex;
        flex-direction: column;
    }

    .reviews-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .review {
        padding: 5px;
        width: 20%;
    }

    .review>a>h2 {
        font-size: 1.2em;
    }
}