* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 2500px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent !important;
}

.brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.name-container {
    display: flex;
    align-items: center;
}

.name-container>h2 {
    padding: 0;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 0.75em;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    color: #e3e3e3;
    margin: 0;
}

.logo {
    width: 75px;
    left: 15px;
}

.nav-item {
    padding: 1px !important;
}

.nav-item:first-of-type {
    border-left: none !important;
}

.active>a {
    color: #FF9724 !important;
}

.nav-link {
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    color: #e3e3e3 !important;
    text-shadow: 1px padding: 1px;
}

@media only screen and (min-width: 901px) {
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }

    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-item {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }

    .nav-item {
        border-left: 1px solid #e3e3e3 !important;
    }

    .nav-item:hover {
        color: #a9a9a9 !important;
    }

    .name-container {
        padding-left: 15px;
    }

    .brand-container {
        flex-direction: row;
    }

    .name-container>h2 {
        padding-top: 0px;
    }

    .header-container {
        height: 150px;
    }

    .name-container>h2 {
        font-size: 2em;
    }
}